- var siteTitle = "Site title";
- var siteDescription = "Site description";
- var baseUrl = "https://site-url.com";
- var pageTitle = "";
- var bodyClass = "";

block vars

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content=siteDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= pageTitle + " - " + siteTitle

    //- OG meta tags
    meta(property="og:title", content=siteTitle)
    meta(property="og:description", content=siteDescription)
    meta(property="og:image", content=baseUrl + "/images/og-image.jpg")
    meta(property="og:url", content=baseUrl)

    link(href="css/style.css" + assetVersion, rel="stylesheet")
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  body(class=bodyClass)
    // Wrapper
    .wrapper
      // Header
      header.header
        .container
          nav
            ul
              li
                a(href="/") Home
              li
                a(href="page.html") Page

            p Hello there

      //- Main
      block content

      // Footer
      footer.footer
        .container
          p Footer information

    script(src="js/scripts.js" + assetVersion)
